README.html
codeswarm
drupal-core-git-repo
data/logs/drupal7-git-logs.xml
data/logs/drupalfull-git-logs.xml
data/stats/drupal7-dev-participation-by-commits.txt
data/stats/drupal7-dev-participation-by-file-changes.txt
data/stats/drupalfull-dev-participation-by-commits.txt
data/stats/drupalfull-dev-participation-by-file-changes.txt
